# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment / secrets
.env
*.env

# DuckDB temporary/database files
*.duckdb
*.duckdb.wal